@using Microsoft.AspNetCore.Components.Forms

<h1>EditBoolNullRadio Demo</h1>
<p>Binds to bool?, allows showing all 3 options or hiding the null option</p>
<EditForm Model="@_model" class="flex-row flex-wrap" @ref=_form>
    <ObjectGraphDataAnnotationsValidator />

    <section class="demo-section">
        <EditBoolNullRadio @bind-Value="_model.BasicOption"
                           Field="@(() => _model.BasicOption)" />
        <EditBoolNullRadio @bind-Value="_model.BasicOption"
                           Field="@(() => _model.BasicOption)"
                           Label="Read-only"
                           IsEditMode=false />
        
        <h3>Markup</h3>
        <pre class="code-block"><code>@_basicExample</code></pre>
    </section>

    <section class="demo-section">
        <EditBoolNullRadio @bind-Value="_model.CustomText"
                           TrueText="Absolutely!"
                           FalseText="No way!"
                           NullText="Haven't decided..."
                           Field="@(() => _model.CustomText)" />

        <EditBoolNullRadio @bind-Value="_model.CustomText"
                           TrueText="Absolutely!"
                           FalseText="No way!"
                           NullText="Haven't decided..."
                           Label="Read-only"
                           IsEditMode="false"
                           Field="@(() => _model.CustomText)" />
        
        <h3>Markup</h3>
        <pre class="code-block"><code>@_customTextExample</code></pre>
    </section>
    
    <section class="demo-section">
        <EditBoolNullRadio @bind-Value="_model.Required"
                           Field="@(() => _model.Required)" />
        
        <h3>Markup</h3>
        <pre class="code-block"><code>@_requiredExample</code></pre>
        
        <h3>Model</h3>
        <pre class="code-block code-block-model"><code>@_requiredModel</code></pre>
    </section>

    <section class="demo-section">
        <EditBoolNullRadio @bind-Value="_model.Disabled"
                           IsDisabled="true"
                           Field="@(() => _model.Disabled)" />
        
        <h3>Markup</h3>
        <pre class="code-block"><code>@_disabledExample</code></pre>
    </section>

    <section class="demo-section">
        <EditBoolNullRadio @bind-Value="_model.NullOptionHidden"
                           ShowNullOption="false"
                           Field="@(() => _model.NullOptionHidden)" />
        
        <h3>Markup</h3>
        <pre class="code-block"><code>@_nullOptionHiddenExample</code></pre>
    </section>
    
    <section class="demo-section">
        <EditBoolNullRadio @bind-Value="_model.VerticalLayout"
                           Field="@(() => _model.VerticalLayout)"
                           IsHorizontal="false" />
        
        <h3>Markup</h3>
        <pre class="code-block"><code>@_verticalLayoutExample</code></pre>
    </section>
    
    <section class="demo-section">
        <style>
            .my-custom-container {
                background-color: teal;
                padding: 10px;
                border-radius: 10px;
            }

            .my-custom-input {
                border: 2px solid maroon;
                border-radius: 4px;
                padding: 4px;
                width: 220px;
            }
        </style>
        
        <EditBoolNullRadio @bind-Value="_model.CustomStyle"
                           Field="@(() => _model.CustomStyle)"
                           ContainerClass="my-custom-container"
                           class="my-custom-input" />
        
        <h3>Markup</h3>
        <pre class="code-block"><code>@_customStyleExample</code></pre>
        
        <h3>CSS</h3>
        <pre class="code-block code-block-css"><code>@_customStyleCss</code></pre>
    </section>
</EditForm>

@code {
    EditForm? _form;
    protected override void OnAfterRender(bool firstRender) => _form?.EditContext?.Validate();
    
    class DemoModel
    {
        [Description("Basic Description")]
        public bool? BasicOption { get; set; }
        public bool? VerticalLayout { get; set; }
        public bool? CustomText { get; set; }

        [Required]
        public bool? Required { get; set; }

        public bool? Disabled { get; set; } = true;
        public bool? ReadOnly { get; set; } = true;
        public bool? NullOptionHidden { get; set; } = false;
        public bool? CustomStyle { get; set; } = true;
    }

    readonly DemoModel _model = new();

    readonly string _basicExample = @"<EditBoolNullRadio @bind-Value=""_model.BasicOption""
                  Field=""@(() => _model.BasicOption)"" />

<EditBoolNullRadio @bind-Value=""_model.BasicOption""
                  Field=""@(() => _model.BasicOption)""
                  Label=""Read-only""
                  IsEditMode=false />";

    readonly string _customTextExample = @"<EditBoolNullRadio @bind-Value=""_model.CustomText""
                  TrueText=""Absolutely!""
                  FalseText=""No way!""
                  NullText=""Haven't decided...""
                  Field=""@(() => _model.CustomText)"" />";

    readonly string _requiredExample = @"<EditBoolNullRadio @bind-Value=""_model.Required""
                  Field=""@(() => _model.Required)"" />";

    readonly string _requiredModel = @"[Required]
public bool? Required { get; set; }";

    readonly string _disabledExample = @"<EditBoolNullRadio @bind-Value=""_model.Disabled""
                  IsDisabled=""true""
                  Field=""@(() => _model.Disabled)"" />";

    readonly string _nullOptionHiddenExample = @"<EditBoolNullRadio @bind-Value=""_model.NullOptionHidden""
                  ShowNullOption=""false""
                  Field=""@(() => _model.NullOptionHidden)"" />";

    readonly string _verticalLayoutExample = @"<EditBoolNullRadio @bind-Value=""_model.VerticalLayout""
                  Field=""@(() => _model.VerticalLayout)""
                  IsHorizontal=""false"" />";

    readonly string _customStyleExample = @"<EditBoolNullRadio @bind-Value=""_model.CustomStyle""
                  Field=""@(() => _model.CustomStyle)""
                  ContainerClass=""my-custom-container""
                  class=""my-custom-input"" />";

    readonly string _customStyleCss = @".my-custom-container {
    background-color: teal;
    padding: 10px;
    border-radius: 10px;
}

.my-custom-input {
    border: 2px solid maroon;
    border-radius: 4px;
    padding: 4px;
    width: 220px;
}";
}