@using Microsoft.AspNetCore.Components.Forms

<h1>EditRadioString Demo</h1>

<EditForm Model="@_model" class="flex-row flex-wrap" @ref=_form>
    <ObjectGraphDataAnnotationsValidator />

    <section class="demo-section">
        <EditRadioString @bind-Value="_model.BasicOption"
                         Field="@(() => _model.BasicOption)"
                         Description="Blahhhhh"
                         Options="@_basicOptions" />

        <EditRadioString @bind-Value="_model.BasicOption"
                         Field="@(() => _model.BasicOption)"
                         Options="@_basicOptions"
                         IsEditMode="false" />
        
        <h3>Markup</h3>
        <pre class="code-block"><code>@_basicExample</code></pre>
    </section>

    <section class="demo-section">
        <EditRadioString @bind-Value="_model.WithOther"
                         Field="@(() => _model.WithOther)"
                         Options="@_basicOptions"
                         HasOther="true" />
        
        <h3>Markup</h3>
        <pre class="code-block"><code>@_otherExample</code></pre>
    </section>

    <section class="demo-section">
        <EditRadioString @bind-Value="_model.CustomStyling"
                         Field="@(() => _model.CustomStyling)"
                         Options="@_basicOptions"
                         ContainerClass="my-custom-container"
                         class="my-custom-radio"
                         LabelClass="my-custom-label" />
        
        <h3>Markup</h3>
        <pre class="code-block"><code>@_customStyleExample</code></pre>
        
        <h3>CSS</h3>
        <pre class="code-block code-block-css"><code>@_customStyleCss</code></pre>
    </section>

    <section class="demo-section">
        <EditRadioString @bind-Value="_model.Disabled"
                         Field="@(() => _model.Disabled)"
                         Options="@_basicOptions"
                         IsDisabled="true" />

        <EditRadioString @bind-Value="_model.Required"
                         Field="@(() => _model.Required)"
                         Options="@_basicOptions" />
        
        <h3>Markup</h3>
        <pre class="code-block"><code>@_validationExample</code></pre>
        
        <h3>Model</h3>
        <pre class="code-block code-block-model"><code>@_validationModel</code></pre>
    </section>

    <section class="demo-section">
        <EditRadioString @bind-Value="_model.HorizontalLayout"
                         Field="@(() => _model.HorizontalLayout)"
                         Options="@_basicOptions"
                         IsHorizontal="true" />
        
        <h3>Markup</h3>
        <pre class="code-block"><code>@_horizontalExample</code></pre>
    </section>
</EditForm>

@code {
    readonly DemoEditRadioStringModel _model = new();
    readonly List<string> _basicOptions = ["Red", "Green", "Blue", "Yellow"];

    EditForm? _form;
    protected override void OnAfterRender(bool firstRender) => _form?.EditContext!.Validate();

    public class DemoEditRadioStringModel
    {
        [Description("Basic Description")]
        public string BasicOption { get; set; } = "Blue";
        public string HorizontalLayout { get; set; } = "";
        public string WithOther { get; set; } = "";
        public string CustomStyling { get; set; } = "";

        [Required(ErrorMessage = "Please select an option")]
        public string Required { get; set; } = "";

        public string Disabled { get; set; } = "";
    }

    readonly string _basicExample = @"<EditRadioString @bind-Value=""_model.BasicOption""
                Field=""@(() => _model.BasicOption)""
                Options=""@_basicOptions"" />

<EditRadioString @bind-Value=""_model.BasicOption""
                Field=""@(() => _model.BasicOption)""
                Options=""@_basicOptions""
                IsEditMode=""false"" />";

    readonly string _otherExample = @"<EditRadioString @bind-Value=""_model.WithOther""
                Field=""@(() => _model.WithOther)""
                Options=""@_basicOptions""
                HasOther=""true"" />";

    readonly string _customStyleExample = @"<EditRadioString @bind-Value=""_model.CustomStyling""
                Field=""@(() => _model.CustomStyling)""
                Options=""@_basicOptions""
                ContainerClass=""my-custom-container""
                class=""my-custom-radio""
                LabelClass=""my-custom-label"" />";

    readonly string _customStyleCss = @".my-custom-container {
    background-color: darkorchid;
    padding: 10px;
    border-radius: 4px;
}

.my-custom-label {
    font-weight: bold;
    color: white;
}";

    readonly string _validationExample = @"<EditRadioString @bind-Value=""_model.Disabled""
                Field=""@(() => _model.Disabled)""
                Options=""@_basicOptions""
                IsDisabled=""true"" />

<EditRadioString @bind-Value=""_model.Required""
                Field=""@(() => _model.Required)""
                Options=""@_basicOptions"" />";

    readonly string _validationModel = @"[Required(ErrorMessage = ""Please select an option"")]
public string Required { get; set; } = """";

public string Disabled { get; set; } = """";";

    readonly string _horizontalExample = @"<EditRadioString @bind-Value=""_model.HorizontalLayout""
                Field=""@(() => _model.HorizontalLayout)""
                Options=""@_basicOptions""
                IsHorizontal=""true"" />";
}

<style>
    .my-custom-container {
        background-color: darkorchid;
        padding: 10px;
        border-radius: 4px;
    }

    .my-custom-label {
        font-weight: bold;
        color: white;
    }
</style>