@page "/pricing/items"
@inject IJSRuntime JS;

<PricingNavigationControl/>
<PageTitle>Items List</PageTitle>

<style>
    .badge {
        margin-right: .5rem;
        margin-bottom: .2rem;
        
    }
</style>
<style>
    .card {
        padding: .5rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
    }
</style>
<div class="flex-row">

<div class="flex-column" style="width: 20rem">
    <!-- Filters -->
    <div class="card" >
        <h5>Filters</h5>
        <div>
            <div class="">

                <!-- Select Category Level -->
                <div class="form-group">
                    <label>Category Levels</label>
                    <div></div>
                    <select>
                        @foreach (var t in _categoryLevels)
                        {
                            <option>@t</option>
                        }
                    </select>
                </div>

                <!-- Select Category Name -->
                <div class="form-group">
                    <label>Category Names</label>
                    <div></div>
                    <select>
                        @foreach (var t in _categoryNames)
                        {
                            <option>@t</option>
                        }
                    </select>
                </div>
                
                <!-- Add Button -->
                <button style="margin-top: -2rem" >Add</button>


                <!-- Item Number Filter -->
                <div class="form-group" style="margin-top: 1rem" >
                    <label>Item Number</label>
                    <div></div>
                    <input @bind=_filter @bind:event="oninput" style="width: 9rem" />

                </div>

            </div>
        </div>
        <h6>Active Filters</h6>
        <div class="flex-row flex-wrap">
            <span class="badge bg-secondary">Major Category: Oven Cleaners</span>
            <span class="badge bg-secondary">IDS Category: Tasty Food </span>
            <span class="badge bg-secondary">Item Numbers: ABC123, DEF456, GHI789</span>

        </div>
    </div>
    
    <!-- Actions -->
    <div class="flex-fill card">
        <h5>Actions</h5>
        
        <div class="flex-row flex-wrap">
            <button @onclick=Import> Import</button>
            <button>Add ItemNumber</button>
        </div>
    </div>
    <!-- Item Groups -->
    <div class="card" >
        <h5>Item Groups</h5>
        
        <div >
        <!-- Select Category Level -->
        <div class="form-group">
            <label>Item Groups</label>
            <div></div>
            <select>
                <option style="font-weight: bold">My Group 1</option>
                <option style="font-weight: bold">My Group 2</option>
                <option style="font-weight: bold" disabled=""></option>
                <option>Group that I'm not subscribed to 1</option>
                <option>Group that I'm not subscribed to 2</option>
                <option>Group that I'm not subscribed to 3</option>
                <option>Group that I'm not subscribed to 4</option>
                <option>Group that I'm not subscribed to 5</option>
            </select>
        </div>
        <div class="flex-column">
            <button>Create Group from current filters</button>
            <button>Subscribe to Group</button>
        </div>

         </div>
    </div>
</div>

<!-- Table of ScrapingConfigurations -->
    <div>
        <table class="table table-hover" id="ttt">
            <thead>
                <tr>
                    <th title="Subscribed to ItemNumber"><i class="fa-duotone fa-i"></i></th>
                    <th title="Subscribed to Category"><i class="fa-duotone fa-c"></i></th>
                    <th scope="col" style="width: 9rem">Item Number</th>
                    <th scope="col">Category</th>
                    <th scope="col">IDS Description</th>
                    <th scope="col">Urls</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var configuration in FakePriceScrapingApp.ItemConfigurations.Where(IsVisible))
                {
                    <tr>
                        <td>
                            @if (!_currentItemsGroup.CategoryItemNumbers().Contains(configuration.Id))
                            {
                                <input type="checkbox" checked=@(_currentItemsGroup.ItemNumbers.Contains(configuration.Id)) @onclick=@(() => ClickItem(configuration.Id)) />
                            }
                        </td>
                        <td>
                            @if (_currentItemsGroup.CategoryItemNumbers().Contains(configuration.Id))
                            {
                                <i class="fa-sharp fa-regular fa-check"></i>
                            }
                        </td>
                        <td style="">@configuration.Id</td>
                        <td>@configuration.CategoryCode</td>
                        <td>@configuration.IdsDescription</td>
                        <td>@configuration.Urls.Count</td>
                        <td><a href="/configure/@configuration.Id">Configure</a> </td>
                    </tr>
                }
            </tbody>
        </table>
         <h5 class="text-success">List View</h5>
        <p>A place to see all Item Numbers. There is expected to be over a hundred thousand eventually, so the data displayed here should be fairly limited.</p>
        <p>This will allow users to </p>
        <ul>
        <li>Enable users to Filter by ItemNumber, Category, other?</li>
        <li>Modify ItemGroups</li>
        <li>Link to the configuration pages for each item Number</li>
        </ul> 

</div>


</div>


@code {

    List<string> _categoryLevels = ["Major Category", "Ids Category","Business Segment", "Product Type", "Family", "Segment"];
    List<string> _categoryNames = ["VERTICAL BROILERS", "STORAGE CONTAINERS", "CHEST FREEZERS", "COUNTERTOP HOOD REQUIRED", "INDUCTION EQUIPMENT", "RANGES"];

    string _filter = "";
    CategoryFilter _categoryFilter = new();


    ItemsGroup _currentItemsGroup = new();

    protected override void OnInitialized()
    {
        FakePriceScrapingApp.Initialize();
        //FakePriceScrapingApp.User.SubscribedItemNumbers.Add("950AGM60Lcc");
        //FakePriceScrapingApp.User.SubscribedItemNumbers.Add("950AGM36Laa");
    }

    public bool IsVisible(ItemConfiguration x)
    {
        if (string.IsNullOrEmpty(_filter))
            return true;

        if (x.Id.Contains(_filter, StringComparison.OrdinalIgnoreCase))
            return true;

        if (x.Id.StartsWith(_filter) || x.Id.StartsWith(_filter))
            return true;

        return false;
    }

    void ClickItem(string itemNumber)
    {
        // if (FakePriceScrapingApp.User.SubscribedItemNumbers.Contains(itemNumber))
        // {
        //     FakePriceScrapingApp.User.SubscribedItemNumbers.Remove(itemNumber);
        // }
        // else
        // {
        //     FakePriceScrapingApp.User.SubscribedItemNumbers.Add(itemNumber);
        // }
    }

    async Task Import()
    {
        // This doens't work right now because of a bug in Blazor
        await JS.InvokeVoidAsync("console.log", "Hello");
        // Get the contents of the clipboard
        var clipboardText = await JS.InvokeAsync<string>("navigator.clipboard.readText");

        // Split the text into lines
        var lines = clipboardText.Split(new[] { '\r', '\n' }, StringSplitOptions.RemoveEmptyEntries);

        // Process each line
        foreach (var line in lines)
        {
            // Split the line into columns
            var columns = line.Split(',');

            // Check that the line has the correct number of columns
            if (columns.Length != 2)
            {
                // If not, show an error message
                continue;
            }

            // Check if the item is already in the list
            var configuration = FakePriceScrapingApp.ItemConfigurations.FirstOrDefault(x => x.Id == columns[0]);
            
            // If the configuration is null, add a new one
            if (configuration == null)
            {
                configuration = new ItemConfiguration
                {
                    Id = columns[0],
                };
                FakePriceScrapingApp.ItemConfigurations.Add(configuration);
            }

            // Add the URL to the configuration
            configuration.Urls.Add(new(columns[1]));
        }
    }


    public class CategoryFilter
    {
        public string IdsCategory { get; set; } = "";
        public string MajorCategory { get; set; } = "";
    }

}