@using Microsoft.AspNetCore.Components.Forms

<h1>EditCheckedStringList Demo</h1>

<EditForm Model="@_model" class="flex-row flex-wrap" @ref=_form>
    <ObjectGraphDataAnnotationsValidator />

    <div class="demo-section">
        <EditCheckedStringList @bind-Value="_model.BasicList"
                               Options="@_basicItems"
                               Field="@(() => _model.BasicList)" />
    </div>

    <div class="demo-section">
        <EditCheckedStringList @bind-Value="_model.CustomStyling"
                               Options="@_basicItems"
                               ContainerClass="my-custom-container"
                               LabelClass="my-custom-checklist"
                               Field="@(() => _model.CustomStyling)" />
    </div>

    <div class="demo-section">
        <EditCheckedStringList @bind-Value="_model.Disabled"
                               Options="@_basicItems"
                               IsDisabled="true"
                               Field="@(() => _model.Disabled)" />

        <EditCheckedStringList @bind-Value="_model.Required"
                               Options="@_basicItems"
                               Field="@(() => _model.Required)" />
    </div>

</EditForm>

@code {
    readonly DemoEditCheckedStringListModel _model = new();
    readonly List<string> _basicItems = ["Apple", "Banana", "Orange", "Grape", "Mango"];

    EditForm? _form;
    protected override void OnAfterRender(bool firstRender) => _form?.EditContext!.Validate();
    public class DemoEditCheckedStringListModel
    {
        public List<string> BasicList { get; set; } = [];
        public List<string> WithHtmlLabel { get; set; } = [];
        public List<string> NoLabel { get; set; } = [];
        public List<string> CustomStyling { get; set; } = [];

        [Required, MinLength(1, ErrorMessage = "You must select at least one item.")]
        public List<string> Required { get; set; } = [];

        public List<string> Disabled { get; set; } = [];
    }
}

<style>
    .my-custom-container {
        background-color: teal;
        padding: 10px;
        border-radius: 4px;
    }

    .my-custom-checklist {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

        .my-custom-checklist input[type="checkbox"] {
            transform: scale(1.2);
            margin-right: 8px;
            accent-color: lime;
        }
</style>