@using Microsoft.AspNetCore.Components.Forms

<h1>EditBool Demo</h1>

<EditForm Model="@_model" class="flex-row flex-wrap" @ref=_form>
    <ObjectGraphDataAnnotationsValidator />

    <div class="demo-section">
        <EditBool @bind-Value="_model.BasicCheckbox" Field="@(() => _model.BasicCheckbox)" Description="Description for Basic Checkbox." />        
    </div>

    <div class="demo-section">
        <style>
            .my-custom-container {
                background-color: purple;
                padding: 20px;
                border-radius: 30px;
            }

            .my-custom-checkbox {
                transform: scale(1.2);
            }
        </style>

        <EditBool @bind-Value="_model.CustomStyle"
                  Field="@(() => _model.CustomStyle)"
                  ContainerClass="my-custom-container"
                  class="my-custom-checkbox" />
    </div>
    
    <div class="demo-section">
        <EditBool @bind-Value="_model.Disabled"
                  Field="@(() => _model.Disabled)"
                  IsDisabled="true" />
    </div>
    <div class="demo-section">
        <EditBool @bind-Value="_model.MustBeTrue"
                  Field="@(() => _model.MustBeTrue)" />
    </div>

</EditForm>

@code {
    readonly DemoEditBoolModel _model = new();

    EditForm? _form;
    protected override void OnAfterRender(bool firstRender) => _form?.EditContext!.Validate();
    public class DemoEditBoolModel
    {
        public bool BasicCheckbox { get; set; }
        public bool CustomStyle { get; set; }

        [MustBeTrue(ErrorMessage = "Hello")]
        public bool MustBeTrue { get; set; }

        public bool Disabled { get; set; }
    }
}
