@using Microsoft.AspNetCore.Components.Forms

<h1>EditSelectString Demo</h1>

<EditForm Model="@_model" class="flex-row flex-wrap" @ref=_form>
    <ObjectGraphDataAnnotationsValidator/>

    <section class="demo-section">
        <EditSelectString @bind-Value="_model.BasicSelect"
                          Options="_colors"
                          Field="@(() => _model.BasicSelect)" />      
        
        <EditSelectString @bind-Value="_model.BasicSelect"
                          IsEditMode=false
                          Options="_colors"
                          Field="@(() => _model.BasicSelect)" />
        
        <h3>Markup</h3>
        <pre class="code-block"><code>@_basicExample</code></pre>
    </section>

    <section class="demo-section">

        <style>
            .my-custom-container {
                background-color: yellow;
                padding: 10px;
                border-radius: 4px;
            }

            .my-custom-select {
                border: 2px solid #0066cc;
                color: purple;
                border-radius: 4px;
                padding: 4px;
                min-width: 200px;
            }
        </style>
        
        <EditSelectString @bind-Value="_model.CustomStyling"
                          Options="_colors"
                          ContainerClass="my-custom-container"
                          class="my-custom-select"
                          Field="@(() => _model.CustomStyling)"/>
        
        <h3>Markup</h3>
        <pre class="code-block"><code>@_customStyleExample</code></pre>
        
        <h3>CSS</h3>
        <pre class="code-block code-block-css"><code>@_customStyleCss</code></pre>
    </section>

    <section class="demo-section">
        <EditSelectString @bind-Value="_model.Disabled"
                          Options="_colors"
                          IsDisabled="true"
                          Field="@(() => _model.Disabled)"/>

        <EditSelectString @bind-Value="_model.Required"
                          Options="_colors"
                          Field="@(() => _model.Required)"/>
        
        <h3>Markup</h3>
        <pre class="code-block"><code>@_validationExample</code></pre>
        
        <h3>Model</h3>
        <pre class="code-block code-block-model"><code>@_validationModel</code></pre>
    </section>
</EditForm>

@code {

    EditForm? _form;
    protected override void OnAfterRender(bool firstRender) => _form?.EditContext!.Validate();

    readonly DemoEditSelectStringModel _model = new();
    readonly List<string> _colors = ["Red", "Green", "Blue", "Yellow", "Neon Purple"];

    public class DemoEditSelectStringModel
    {
        [Description("Basic Description")]
        public string BasicSelect { get; set; } = "";
        public string HtmlContent { get; set; } = "";
        public string CustomStyling { get; set; } = "";

        [Required]
        public string Required { get; set; } = "";

        public string Disabled { get; set; } = "";
    }

    readonly string _basicExample = @"<EditSelectString @bind-Value=""_model.BasicSelect""
                 Options=""_colors""
                 Field=""@(() => _model.BasicSelect)"" />

<EditSelectString @bind-Value=""_model.BasicSelect""
                 IsEditMode=false
                 Options=""_colors""
                 Field=""@(() => _model.BasicSelect)"" />";

    readonly string _customStyleExample = @"<EditSelectString @bind-Value=""_model.CustomStyling""
                 Options=""_colors""
                 ContainerClass=""my-custom-container""
                 class=""my-custom-select""
                 Field=""@(() => _model.CustomStyling)""/>";

    readonly string _customStyleCss = @".my-custom-container {
    background-color: yellow;
    padding: 10px;
    border-radius: 4px;
}

.my-custom-select {
    border: 2px solid #0066cc;
    color: purple;
    border-radius: 4px;
    padding: 4px;
    min-width: 200px;
}";

    readonly string _validationExample = @"<EditSelectString @bind-Value=""_model.Disabled""
                 Options=""_colors""
                 IsDisabled=""true""
                 Field=""@(() => _model.Disabled)""/>

<EditSelectString @bind-Value=""_model.Required""
                 Options=""_colors""
                 Field=""@(() => _model.Required)""/>";

    readonly string _validationModel = @"[Required]
public string Required { get; set; } = """";

public string Disabled { get; set; } = """";";
}
