@using Microsoft.AspNetCore.Components.Forms

<h1>EditRadioString Demo</h1>

<EditForm Model="@_model" class="flex-row flex-wrap" @ref=_form>
    <ObjectGraphDataAnnotationsValidator />

    <div class="demo-section">
        <EditRadioString @bind-Value="_model.BasicOption"
                         Field="@(() => _model.BasicOption)"
                         Options="@_basicOptions" />

        <EditRadioString @bind-Value="_model.BasicOption"
                         Field="@(() => _model.BasicOption)"
                         Options="@_basicOptions"
                         IsEditMode="false" />
    </div>

    <div class="demo-section">
        <EditRadioString @bind-Value="_model.WithOther"
                         Field="@(() => _model.WithOther)"
                         Options="@_basicOptions"
                         HasOther="true" />
    </div>

    <div class="demo-section">
        <EditRadioString @bind-Value="_model.CustomStyling"
                         Field="@(() => _model.CustomStyling)"
                         Options="@_basicOptions"
                         ContainerClass="my-custom-container"
                         class="my-custom-radio"
                         LabelClass="my-custom-label" />
    </div>

    <div class="demo-section">
        <EditRadioString @bind-Value="_model.Disabled"
                         Field="@(() => _model.Disabled)"
                         Options="@_basicOptions"
                         IsDisabled="true" />

        <EditRadioString @bind-Value="_model.Required"
                         Field="@(() => _model.Required)"
                         Options="@_basicOptions" />
    </div>

    <div class="demo-section">
        <EditRadioString @bind-Value="_model.HorizontalLayout"
                         Field="@(() => _model.HorizontalLayout)"
                         Options="@_basicOptions"
                         IsHorizontal="true" />
    </div>
</EditForm>

@code {
    readonly DemoEditRadioStringModel _model = new();
    readonly List<string> _basicOptions = ["Red", "Green", "Blue", "Yellow"];

    EditForm _form;
    protected override void OnAfterRender(bool firstRender) => _form.EditContext!.Validate();

    public class DemoEditRadioStringModel
    {
        public string BasicOption { get; set; } = "Blue";
        public string HorizontalLayout { get; set; } = "";
        public string WithOther { get; set; } = "";
        public string CustomStyling { get; set; } = "";

        [Required(ErrorMessage = "Please select an option")]
        public string Required { get; set; } = "";

        public string Disabled { get; set; } = "";
    }
}

<style>
    .my-custom-container {
        background-color: darkorchid;
        padding: 10px;
        border-radius: 4px;
    }

    .my-custom-label {
        font-weight: bold;
        color: white;
    }
</style>