@namespace Controls
@typeparam TValue
@inherits EditControlListBase<TValue>

@if (ShouldShowComponent())
{
    <div class="edit-control-wrapper @ContainerClass">
        <FormLabel Id=@_id FieldIdentifier=@_fieldIdentifier Attributes=@_attributes Label=@Label IsRequired=@IsRequiredResolved Description=@Description Tooltip=@Tooltip IsLabelHidden=@ShouldHideLabel IsForLabelable=@ShowEditor />

        @if (ShowEditor)
        {
            <Select TValue="TValue"
                    Mode="Mode"
                    Values="Value"
                    ValuesChanged="OnValuesChanged"
                    Options="Options"
                    Placeholder="@Placeholder"
                    Disabled="IsDisabled"
                    AllowClear="AllowClear"
                    ShowSearch="ShowSearch"
                    ShowArrow="ShowArrow"
                    Loading="Loading"
                    Size="Size"
                    Prefix="Prefix"
                    Width="@Width"
                    MaxTagCount="MaxTagCount"
                    TagValueFactory="TagValueFactory"
                    EmptyText="@EmptyText"
                    EmptyContent="EmptyContent"
                    FilterOption="FilterOption"
                    DropdownFooter="DropdownFooter"
                    DebounceMilliseconds="DebounceMilliseconds"
                    OnSearch="OnSearch"
                    DefaultOpen="DefaultOpen"
                    Open="Open"
                    OpenChanged="OpenChanged"
                    Id="@_id"
                    CssClass="@FieldCssClass"
                    RemoveItemLabelFormat="@RemoveItemLabelFormat"
                    ClearSelectionsLabel="@ClearSelectionsLabel"
                    ListboxLabel="@ListboxLabel"
                    AriaRequired="@_isRequired"
                    AriaInvalid="@IsInvalid"
                    AriaDescribedBy="@_describedBy" />
        }
        else
        {
            <ReadOnlyValue Id=@_id IsLabelHidden=@ShouldHideLabel CssClass=@FieldCssClass Text=@SelectedLabels />
        }

        <FieldValidationDisplay Id=@_id FieldIdentifier=_fieldIdentifier Attributes=_attributes Label=@Label />
        @if (FormOptions != null && FormOptions.ShowBoundValues)
        {
            <div class="bound-value">@string.Join(", ", Value ?? [])</div>
        }
    </div>
}
