@typeparam T
@inherits EditControlBase<T>

@if (ShouldShowComponent())
{
    <div class="edit-control-wrapper @ContainerClass">
        <FormLabel Id=@_id FieldIdentifier=@_fieldIdentifier Attributes=@_attributes Label=@Label IsRequired=@IsRequiredResolved Description=@Description Tooltip=@Tooltip IsLabelHidden=@ShouldHideLabel IsForLabelable=@ShowEditor />

        @if (ShowEditor)
        {
            <DatePicker Value="PickerValue"
                        ValueChanged="OnValueChanged"
                        Id="@_id"
                        Mode="@EffectiveMode"
                        Min="@Min"
                        Max="@Max"
                        Format="@Format"
                        Placeholder="@Placeholder"
                        AllowClear="@AllowClear"
                        Disabled="@IsDisabled"
                        Width="@Width"
                        FirstDayOfWeek="@FirstDayOfWeek"
                        ShowWeekNumbers="@ShowWeekNumbers"
                        DisabledDate="@DisabledDate"
                        DisabledTime="@DisabledTime"
                        HideDisabledTimeOptions="@HideDisabledTimeOptions"
                        ShowSeconds="@ShowSeconds"
                        HourStep="@HourStep"
                        MinuteStep="@MinuteStep"
                        SecondStep="@SecondStep"
                        Use12Hours="@Use12Hours"
                        ShowToday="@ShowToday"
                        TodayText="@TodayText"
                        ShowNow="@ShowNow"
                        NowText="@NowText"
                        Presets="@Presets"
                        PresetsLabel="@PresetsLabel"
                        ExtraFooter="@ExtraFooter"
                        DefaultViewDate="@DefaultViewDate"
                        InputLabel="@EffectiveInputLabel"
                        DialogLabel="@DialogLabel"
                        MonthSelectLabel="@MonthSelectLabel"
                        YearSelectLabel="@YearSelectLabel"
                        ClearLabel="@ClearLabel"
                        PrevMonthLabel="@PrevMonthLabel"
                        NextMonthLabel="@NextMonthLabel"
                        PrevYearLabel="@PrevYearLabel"
                        NextYearLabel="@NextYearLabel"
                        PrevDecadeLabel="@PrevDecadeLabel"
                        NextDecadeLabel="@NextDecadeLabel"
                        HourSelectLabel="@HourSelectLabel"
                        MinuteSelectLabel="@MinuteSelectLabel"
                        SecondSelectLabel="@SecondSelectLabel"
                        PeriodSelectLabel="@PeriodSelectLabel"
                        OkText="@OkText"
                        AriaRequired="@_isRequired"
                        AriaInvalid="@IsInvalid"
                        AriaDescribedBy="@_describedBy"
                        AriaErrorMessage="@(IsInvalid ? _errorMsgId : null)"
                        @attributes="PickerAttributes" />
        }
        else
        {
            <ReadOnlyValue Id=@_id IsLabelHidden=@ShouldHideLabel CssClass=@CssClass Text=@GetDisplayValue() />
        }

        <FieldValidationDisplay Id=@_id FieldIdentifier=_fieldIdentifier Attributes=_attributes Label=@Label />
        @if (FormOptions != null && FormOptions.ShowBoundValues)
        {
            <div class="bound-value">@CurrentValueAsString</div>
        }
    </div>
}
