@inherits InputDate<T>
@using Microsoft.AspNetCore.Components.Forms
@typeparam T

@if (ShouldShowComponent)
{
    <div class="form-group @OuterClass">
        <FormLabel Id=@_id FieldIdentifier=@_fieldIdentifier Attributes=@_attributes Label=@Label/>

        @if (ShowEditor)
        {
            <InputDate @bind-Value="CurrentValue" id=@_id data-test-id=@_id Type=Type class=@CssClass disabled=@IsDisabled/>
        }
        else
        {
            @if (ShowTime)
            {
                <div class="form-text @CssClass">
                    @DateTime.Parse(CurrentValueAsString).ToLocalTime().ToString("MM-dd-yyyy hh:mm tt")
                </div>
            }
            else
            {
                <div class="form-text @CssClass">
                    @DateTime.Parse(CurrentValueAsString).ToLocalTime().ToString("MM-dd-yyyy")
                </div>
            }
        }

        <FieldValidationDisplay Id=@_id FieldIdentifier=_fieldIdentifier Attributes=_attributes/>
    </div>
}
