@inherits EditControlBase<string?>

@if (ShouldShowComponent())
{
    <div class="edit-control-wrapper @ContainerClass">

        <FormLabel Id=@_id FieldIdentifier=@_fieldIdentifier Attributes=@_attributes Label=@Label IsRequired=@IsRequiredResolved Description=@Description Tooltip=@Tooltip IsLabelHidden=@ShouldHideLabel IsForLabelable=@ShowEditor />

        @if (ShowEditor)
        {
            <EditInputShell IsInvalid=@IsInvalid
                            IsDisabled=@IsDisabled
                            WrapperClass=@(EditInputShell.SizeClass(Size))
                            Prefix=@Prefix
                            Suffix=@Suffix
                            AllowClear=@AllowClear
                            IsClearable=@IsClearable
                            OnClear=@Clear
                            CountText=@CountText
                            ShowPasswordToggle=@IsPassword
                            IsPasswordRevealed=@_passwordRevealed
                            OnTogglePassword=@TogglePasswordVisibility>
                <input @bind-value="CurrentValue"
                       @bind-value:event="oninput"
                       @ref="_inputRef"
                       style=@(UseAffixLayout ? null : "padding-inline-end: 2rem")
                       disabled=@IsDisabled
                       id=@_id
                       data-test-id=@_id
                       class=@InputClass
                       placeholder=@Placeholder
                       maxlength=@MaxLength
                       type=@(IsPassword ? (_passwordRevealed ? "text" : "password") : null)
                       aria-invalid=@(IsInvalid ? "true" : null)
                       aria-required=@_isRequired
                       aria-describedby=@_describedBy
                       aria-errormessage=@(IsInvalid ? _errorMsgId : null)
                       autocomplete=@Autocomplete />
            </EditInputShell>
        }
        else
        {
            <!-- Read-Only Views -->
            @if (!string.IsNullOrWhiteSpace(MaskText))
            {
                <!-- Masks with eye icons to show/hide masked text in EditMode  -->
                @if (!_showMaskedValue)
                {
                    <div class="edit-masked-value" id=@_id data-test-id=@_id aria-labelledby=@(ShouldHideLabel ? null : $"lbl-{_id}")>
                        <span class="edit-readonly-value">@GetMaskValue()</span>
                        <button type="button" aria-label="Show value" class="edit-icon-eye-invisible" @onclick=@(() => _showMaskedValue = !_showMaskedValue)>
                            @EditIcons.EyeInvisible
                        </button>
                    </div>
                }
                else
                {
                    <div class="edit-masked-value" id=@_id data-test-id=@_id aria-labelledby=@(ShouldHideLabel ? null : $"lbl-{_id}")>
                        <span class="edit-readonly-value">@Value</span>
                        <button type="button" aria-label="Hide value" class="edit-icon-eye" @onclick=@(() => _showMaskedValue = !_showMaskedValue)>
                            @EditIcons.Eye
                        </button>
                    </div>
                }
            }
            else
            {
                @if (SafeUrl != null)
                {
                    <a class="edit-string-link @CssClass"
                       id=@_id
                       data-test-id=@_id
                       aria-describedby=@_describedBy
                       aria-labelledby=@(ShouldHideLabel ? null : $"lbl-{_id}")
                       href=@SafeUrl
                       target=@UrlTarget
                       rel=@UrlRel>
                        @Value
                    </a>
                }
                else
                {

                    <ReadOnlyValue Id=@_id IsLabelHidden=@ShouldHideLabel CssClass=@CssClass Text=@Value />
                }
            }
        }
        <FieldValidationDisplay Id=@_id FieldIdentifier=_fieldIdentifier Attributes=_attributes Label=@Label />

        @if (FormOptions != null && FormOptions.ShowBoundValues)
        {
            <div class="bound-value">@CurrentValueAsString</div>
        }
    </div>
}