@using Microsoft.AspNetCore.Components.Forms
@inherits InputText

@if (ShouldShowComponent)
{
    <div class="form-group @OuterClass">

        <fieldset>
            <legend>
                <FormLabel Id=@_id FieldIdentifier=@_fieldIdentifier Attributes=@_attributes Label=@Label/>
            </legend>

            @if (ShowEditor)
            {
                <InputRadioGroup @bind-Value=@SelectedOption id=@($"rbg_{_id}") data-test-id=@($"rbg_{_id}") disabled=@IsDisabled class=@CssClass>
                    @foreach (var option in Options)
                    {
                        @if (!HasHorizontalRadioButtons)
                        {
                            <br/>
                        }

                        <label>
                            <InputRadio Value=@option id=@($"rb_{_id}_{option}") data-test-id=@($"rb_{_id}_{option}")/>
                            @((MarkupString)option)
                        </label>
                    }

                    <!-- Other -->
                    @if (HasOther)
                    {
                        <div>
                            <label>
                                <InputRadio Value=@OtherName id=@($"rb_{_id}_other") data-test-id=@($"rb_{_id}_other")/>
                                Other
                            </label>
                            <input disabled="@(_selectedOption != "Other")" type="text" @bind:get=@_otherText @bind:set=SetOtherTextAsync @bind:event="oninput"/>
                        </div>
                    }

                </InputRadioGroup>
            }
            else
            {
                <div class="form-text">@Value</div>
            }

            <FieldValidationDisplay Id=@_id FieldIdentifier=_fieldIdentifier Attributes=_attributes />
            @if (FormOptions != null && FormOptions.ShowBoundValues)
            {
                <div class="bound-value">@CurrentValueAsString</div>
            }
        </fieldset>
    </div>   
}
